<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Envio Mensaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" item-start></ion-icon>
        <ion-label stacked>Correo electronico:</ion-label>
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <ion-label stacked>Nombre:</ion-label>
        <ion-input  type="text" placeholder="Nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="text" item-start></ion-icon>
        <ion-label stacked>Mensaje:</ion-label>
        <ion-input  type="text"></ion-input>
      </ion-item>

    </ion-list>
    <div padding>
      <ion-button type="submit">Guardar</ion-button>
    </div>
  </form>
</ion-content>
