
 <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista Recorrido</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-label>Cristo de la concordia</ion-label><strong>20-01-2020</strong><ion-button (click)="presentModal()">Detalles</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>La Angostura</ion-label><strong>20-01-2020</strong><ion-button (click)="presentModal()">Detalles</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Paseo por el prado</ion-label><strong>20-01-2020</strong><ion-button (click)="presentModal()">Detalles</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Visita al Valle Alto</ion-label><strong>20-01-2020</strong><ion-button (click)="presentModal()">Detalles</ion-button>
    </ion-item>
  </ion-list>
</ion-content>